@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    background: #0a0a0a;
    min-height: 100vh;
    color: var(--v12-light);
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}

:root {
    --v12-red: #f23847;
    --v12-red-dark: #bc2a32;
    --v12-black: #262626;
    --v12-charcoal: #595959;
    --v12-gray: #2a2b2a;
    --v12-light: #f2f2f2;
    --v12-border: #3a3a3c;
}



/*
background: linear-gradient(90deg, #ffffff, hwb(64 15% 3%), #c70000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
*/

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background: transparent;
    transition: all 0.3s ease;
}

.navbar.scrolled {
    background: #000; /* ou a cor da sua marca */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.navbar a {
    font-size: 0.8rem;
}

.nav-link {
    color: var(--v12-light);
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
    margin-left: 20px;

}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: 800;
    color: #e01919;
}

.nav-link:hover {
    color: #f23847;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show .nav-link.active {
    color: #f23847;
}

/*  main  */

.main {
    background: url(../image/back_.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.main h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--v12-light);
}

.main::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); 
}

.nav-link:focus {
    color: #ff7c00;
}

.main .highlight {
    background: linear-gradient(90deg, #ffffff, hwb(64 15% 3%), #c70000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main p {
    font-size: 1.2rem;
    color: #ddd;
    margin-top: 20px;
    font-weight: 600;
}


/* HERO */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: radial-gradient(circle at top right, #f23847 0%, #0a0a0a 40%);
}

.hero h1 {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.2;
}

.btn-v12 {
    background: #950000;
    color: white;
    border: none;
    padding: 14px 35px;
    font-weight: 800;
    transition: 0.3s;
}

.btn-v12:hover {
    background: #cc0000;
    transform: scale(1.05);
}

/* retorno  */

.btn-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 22px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    z-index: 999;
}

.btn-top:hover {
    background-color: #ff0000; /* pode trocar pela cor da V12 */
    transform: translateY(-5px);
}


/* progress */

.skill {
    width: 100%;
    margin-bottom: 20px;
}

.skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.progress {
    background-color: #595959;
    border-radius: 50px;
    height: 15px;
    width: 100%;
    overflow: hidden;
}

.pro-value1 {
    background: linear-gradient(90deg, #f87103, hwb(64 15% 3%), #c70000);
    height: 100%;
    width: 0;
    border-radius: 50px;
    animation: load1 3s forwards;
}

@keyframes load1 {
    from {
        width: 0;
    }

    to {
        width: 95%;
    }
}

.pro-value2 {
    background: linear-gradient(90deg, #f87103, hwb(64 15% 3%), #c70000);
    height: 100%;
    width: 0;
    border-radius: 50px;
    animation: load2 3s forwards;
}

@keyframes load2 {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

.pro-value3 {
    background: linear-gradient(90deg, #f87103, hwb(64 15% 3%), #c70000);
    height: 100%;
    width: 0;
    border-radius: 50px;
    animation: load3 3s forwards;
}

@keyframes load3 {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

.pro-value4 {
    background: linear-gradient(90deg, #f87103, hwb(64 15% 3%), #c70000);
    height: 100%;
    width: 0;
    border-radius: 50px;
    animation: load4 3s forwards;
}

@keyframes load4 {
    from {
        width: 0;
    }

    to {
        width: 98%;
    }
}


/* SECTION */

.section {
    padding: 90px 0;
}

.section-title {
    font-weight: 800;
    margin-bottom: 50px;
    text-align: center;
}

/* CARDS */

.estrategic {
    background: var(--v12-black);
}

.service-card {
    background: #141414;
    padding: 30px;
    border-radius: 15px;
    transition: 0.4s;
    height: 100%;
}

.service-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 15px 15px rgba(252, 73, 3, 0.2);
}

.service-card h5 {
    font-weight: 700;
}

/* AUTHORITY */

.authority {
    background: #111;
    text-align: center;
}

/* PROCESS */

.process-step {
    text-align: center;
}

.process-number {
    font-size: 2rem;
    font-weight: 800;
    color: #ff7c00;
}

/* TRAFEGO */
.trafego {
    padding: 100px 0;
    text-align: center;
}

/* MODAL */
.modal-content {
    background: #1d1e1d;
    color: var(--v12-light);
    border-radius: 15px;
}

.form-control {
    background: #111;
    border: none;
    color: var(--v12-light);
}

/* CTA */

.cta {
    background: linear-gradient(90deg, #f23847, #8B0000);
    text-align: center;
    padding: 80px 0;
}


footer {
    background: #000;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(252, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }   

    .main {
        background: url(../image/bg_mob.webp) no-repeat center;
        background-size: cover;
        padding-top: 80px; /* empurra todo conteúdo para baixo */
    }

    .main h1 {
        font-size: 2rem;
        margin-top: 120px; /* desce apenas o título */
    }


}

