@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #ffffff;
    --body: #545d6d;
    --dark: #202631;
    --border-color: rgba(0, 0, 0, 0.10);
    --border-width: 1px;
    --border-radius: 10px;
}

body {
    font-family: "Barlow", sans-serif;
    line-height: 1.8;
    color: var(--body);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    color: var(--dark);
}

a {
    color: var(--body);
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 700;
}

a:hover {
    color: var(--dark);
}

p {
    font-size: 18px;
    line-height: 1.3;
    
}

img {
    width: 100%;
}

section {
    padding-top: 270px;
    padding-bottom: 170px;
}

.navbar {
    position: absolute;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 9999;
}

.navbar-brand {
    font-size: 28px;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 14px;
}

.nav-link {
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--dark);
    background-color: var(--white);
}

.social-links a {
    width: 40px;
    height: 40px;
    background-color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 18px;
    margin-left: 5px;
}

.social-links a:hover {
    background-color: var(--dark);
    color: var(--white);
}



.swiper-slide {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.swiper-pagination {
    margin-bottom: 10px !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--dark) !important;
}



#hero {
    background: url(../image/bg.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

#hero h1,
#hero p {
    color: var(--white);
}

#hero h1 {
    font-weight: 800;
    line-height: 0.9;
}

#hero p {
    font-size: 18px;
    max-width: 450px;
}

.btn {
    padding: 20px 44px;
    border-width: 2px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

/* card  */
.card {
    border: var(--border-width) solid var(--border-color);
    color: var(--white);
    background-color: var(--dark);
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: all 0.4s ease;
}
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.4s ease;
}

.card:hover img {
    filter: grayscale(0%);
}

.card:hover {
    transform: translateY(-10px);    
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
/*end card*/

/* intro */

.intro {
    margin-bottom: 60px;
}

.intro .hr-line {
    width: 60px;
    height: 6px;
    background-color: var(--dark);
    display: inline-block;
}

.intro h1 {
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 16px;
}



.intro.intro-dark h1,
.intro.intro-dark p {
    color: var(--white);
}

.intro.intro-dark .hr-line {
    background-color: var(--white);
}

/* Services */

.service {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    padding: 28px;
}

.servicework {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    display: grid;
    padding: 32px;
}

.servicework_ {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    display: grid;
    padding: 32px;
}



.service .icon {
    width: 100px;
    height: 100px;
    background-color: var(--dark);
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    color: var(--white);
    border-radius: var(--border-radius);
    margin-right: 16px;
}

.servicework .icon {
    width: 80px;
    height: 80px;
    background-color: var(--dark);
    flex-direction: row;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    color: var(--white);
    border-radius: var(--border-radius);
    margin-right: 14px;
}

.servicework_ .icon {
    width: 80px;
    height: 80px;
    background-color: var(--dark);
    flex-direction: row;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    color: var(--white);
    border-radius: var(--border-radius);
    margin-right: 14px;
}



.link-arrow {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.link-arrow i {
    transition: all 0.4s ease;
}

.link-arrow:hover i {
    transform: translate(5px, -5px);
}

.arrow_:hover i {
    transform: translate(5px, -5px);
}


.link-arrow:hover {
    color: var(--white);
}

.arrow_:hover {
    color: #E82D37;
}

#work {
    background-color: var(--dark);
}

.project h3 {
    color: var(--white);
    margin-top: 24px;
}

.project .image-wrapper {
    overflow: hidden;
    border-radius: var(--border-radius);
}

.project .image-wrapper img {
    border-radius: var(--border-radius);
    transform: scale(1.1);
    transition: all 0.4s ease;
    cursor: pointer;
}

.project:hover .image-wrapper img {
    transform: scale(1);
}

#about img {
    border-radius: var(--border-radius);
}

#testimonials {
    background-color: #f8f8f8;
}

.review {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 32px;
    background-color: var(--white);
}

.review .person {
    display: flex;
    align-items: center;
}

.review .person img {
    width: unset;
    height: 160px;
    border-radius: var(--border-radius);
    margin-right: 16px;
}

.review .stars {
    color: #f4c150;
    font-size: 22px;
}

.review p {
    border-bottom: var(--border-width) solid var(--border-color);
    padding-bottom: 16px;
}

#contact form {
    padding: 32px;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
}

#contact form .form-control {
    background-color: #f8f8f8;
    border: transparent;
    border-radius: var(--border-radius);
    padding-left: 18px;
}

#contact form input.form-control {
    height: 56px;
}

#insta-posts {
    position: relative;
}

.insta-follow {
    width: 90px;
    height: 90px;
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    border-radius: var(--border-radius);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.insta-follow:hover {
    background-color: var(--white);
}

#insta-posts:hover .insta-follow {
    opacity: 1;
    top: 50%;
}



.footer-top {
    padding-bottom: 30px;
    border-bottom: var(--border-width) solid var(--border-color);
}

.footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .social-links a {
    border: var(--border-width) solid var(--border-color);
}

.work {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 8%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;
}

#work {
    padding-top: 0;
    margin-top: 0;
}

#work .row {
    align-items: flex-start !important;
}

#work {
    background-color: var(--dark);
    padding-top: 0 !important;
    padding-bottom: 170px;
    /* opcional, se quiser manter */
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }

    #hero {
        background: url(../image/bg_m.jpg);
        background-position: center;
        background-size: cover;
    }
}